@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .icon-filled {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  html,
  body,
  #root {
    @apply min-h-screen h-full;
  }

  h1 {
    @apply text-primary-700 font-Titulos font-medium text-4xl md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-primary-700 font-Titulos font-medium text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-primary-700 font-Titulos font-medium text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-primary-700 font-Titulos font-medium text-xl md:text-2xl lg:text-3xl;
  }

  span {
    @apply font-Otros font-bold text-sm md:text-base lg:text-lg;
  }

  p {
    @apply font-normal font-Otros text-sm md:text-lg lg:text-xl;
  }

  label {
    @apply font-normal font-Otros text-sm md:text-base lg:text-xl;
  }

  *::-webkit-scrollbar {
    @apply w-1;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent rounded-sm;
  }

  *::-webkit-scrollbar-track:hover {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-primary-400 rounded-sm;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-700;
  }
}
