@layer components {
  .button {
    @apply inline-flex items-center justify-center font-medium rounded-lg transition-colors duration-200 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 lg:px-4 lg:py-3 lg:text-lg md:px-3 md:py-2 md:text-base px-2 py-1 text-sm;
  }

  .btn-primario {
    @apply bg-primary-850  text-white hover:bg-primary-600 active:bg-primary-500 disabled:bg-primary-400 focus:ring-primary-700
      dark:bg-primary-1000 dark:border-primary-800 dark:text-primary-50;
  }

  .btn-secundario {
    @apply bg-neutral-200 text-black hover:bg-neutral-300 active:bg-neutral-400 disabled:bg-neutral-100 focus:ring-neutral-400
    dark:bg-neutral-100;
  }

  .btn-fantasma {
    @apply bg-primary-100 text-black hover:bg-primary-300 active:bg-primary-500 active:text-white disabled:text-primary-500 focus:ring-primary-700
    dark:bg-primary-400 dark:text-primary-900;
  }

  .card-biblioteca {
    @apply flex flex-col bg-primary-50 rounded-xl shadow-elevation-1 gap-1.5 overflow-hidden max-w-75 hover:scale-105 transition-transform duration-300
     dark:bg-primary-900;
  }

  .card-landing.invertido {
    @apply md:flex-row-reverse;
  }

  .card-estadistica {
    @apply flex flex-col justify-between bg-primary-50 border border-primary-200 w-full p-1.25 md:p-2.5 rounded-sm lg:p-5 hover:shadow-elevation-3
    cursor-pointer  dark:bg-primary-850 dark:border-primary-900;
  }

  .card-estadistica-t {
    @apply flex flex-row items-center w-full bg-primary-50 border border-primary-100 text-primary-900 rounded-sm gap-1 p-1 md:gap-[6px] md:p-[6px] lg:gap-2 lg:p-2 
  cursor-pointer hover:shadow-elevation-3 dark:bg-primary-850 dark:border-primary-1000;
  }

  .card-landing {
    @apply flex flex-col items-center bg-primary-50 rounded-xl overflow-hidden border border-neutral-200 mx-auto w-full hover:shadow-elevation-3
    dark:bg-primary-900 dark:border-primary-1000;
  }

  .card-estadistica-g {
    @apply bg-primary-900 rounded-sm flex items-center justify-between w-full gap-[14px] md:gap-30 lg:gap-47 p-2.5 md:p-3.75 lg:p-5  
  cursor-pointer hover:bg-primary-800 hover:shadow-elevation-3 dark:bg-primary-850 dark:border-primary-1000;
  }

  .botones-navbar {
    @apply flex flex-col xl:flex-row gap-2 w-full xl:w-auto justify-center;
  }

  .nav-link {
    @apply no-underline text-inherit;
  }

  .table-admin {
    @apply flex flex-col gap-2 md:gap-6 overflow-auto p-2 max-h-100;
  }

  .rows-table {
    @apply items-center pt-4 pb-4 border border-neutral-50 flex flex-row dark:border-0 pl-6 pr-6;
  }

  .dialog {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-9999 bg-white p-8 rounded-lg shadow-2xl min-w-75;
  }

  .dialog-overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-black/50 z-9998;
  }

  .close-icon {
    @apply flex w-full justify-end;
  }

  .tarjeta-estadisticas {
    @apply rounded-sm hover:shadow-elevation-3 max-w-50;
  }

  .tarjeta-total-estadisticas {
    @apply bg-primary-500 text-primary-50 flex flex-row gap-5 justify-center items-center md:gap-personalizado-30 lg:gap-personalizado-47 p-2;
  }

  .numero-estadisticas-total {
    @apply bg-primary-50 text-primary-700  dark:text-white h-full w-3 rounded-sm p-2 text-center flex justify-center items-center;
  }

  .tarjeta-individual-estadisticas {
    @apply bg-primary-50 text-primary-700  dark:text-white flex flex-col p-1 md:gap-2 border border-primary-700;
  }

  .numero-estadistica-individual {
    @apply w-auto bg-primary-300 p-2 rounded-sm text-primary-700  dark:text-white h-full text-center flex justify-center items-center;
  }

  .input-responsive {
    @apply h-6 p-2 text-xs md:h-9 md:p-3 md:text-sm lg:h-10 lg:text-base;
  }

  .checkbox-responsive {
    @apply size-3 md:size-4 lg:size-5;
  }

  .input-style-comun {
    @apply w-full flex items-center border-2 rounded-lg outline-none transition-all duration-200 placeholder:text-gray-400;
  }

  .input-disabled {
    @apply bg-gray-100 border-neutral-300 cursor-not-allowed !text-neutral-400;
  }

  .input-border-primario {
    @apply border-primary-900 hover:border-primary-1000 focus:border-primary-700 dark:border-primary-50 hover:dark:border-primary-500 focus:dark:border-primary-50;
  }

  .input-border-info {
    @apply border-info-500 hover:border-info-600 focus:border-info-700 dark:border-primary-50 hover:dark:border-primary-500 focus:dark:border-primary-50;
  }

  .input-error {
    @apply border border-danger-500 dark:border-danger-300 dark:border-2;
  }

  .input-valido {
    @apply border border-success-500 dark:border-success-300 dark:border-2;
  }

  .span-error {
    @apply text-danger-500 text-xs font-Otros dark:text-danger-300;
  }

  .checkbox-container {
    @apply flex items-center gap-2 my-2;
  }

  .checkbox-input {
    @apply rounded border-gray-300 text-primary-600 focus:ring-primary-500 transition-all
    dark:text-primary-50 dark:focus:ring-primary-200;
  }

  .textarea-responsive {
    @apply min-h-24 p-2 text-xs md:min-h-32 md:p-3 md:text-sm lg:min-h-40 lg:text-base;
  }

  .textarea-style {
    @apply w-full flex flex-col gap-1 resize-none;
  }

  .select-responsive {
    @apply border border-primary-900 border-2 appearance-none w-12 h-8 p-1 pr-1 text-xs md:w-auto md:h-10 md:p-2 md:pr-10 md:text-sm lg:h-11 lg:p-2 lg:pl-4 lg:pr-12 lg:text-base;
    background-image: var(--select-icon);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5em 1.5em;
  }

  .select-color-text {
    @apply !text-primary-900 dark:!text-primary-50;
  }

  .form-registro {
    @apply flex flex-col items-center justify-center bg-primary-50 border-2 border-primary-500 shadow-elevation-1 w-full min-h-100 p-6 gap-6 rounded-lg md:w-150 md:min-h-125 md:p-8 md:gap-8 md:rounded-xl lg:w-200 lg:min-h-150 lg:p-12 lg:gap-10
       dark:bg-primary-900 dark:text-primary-50 dark:border-primary-1000;
  }

  .grid-registro {
    @apply grid w-full grid-cols-1 gap-4 md:grid-cols-2 md:gap-6;
  }

  .form-login_passwd {
    @apply flex flex-col items-center justify-center bg-primary-50 border-2 border-primary-500 shadow-elevation-1 w-full h-auto p-6 gap-4 rounded-lg md:w-112.5 md:p-8 md:gap-6 md:rounded-xl lg:w-full lg:max-w-2xl lg:py-24 lg:px-20 lg:gap-10
    dark:bg-primary-900 dark:text-primary-50 dark:border-primary-1000;
  }

  .flex-login-passwd {
    @apply flex flex-col w-full gap-4 md:gap-6;
  }

  .form-genero {
    @apply bg-white shadow-xl rounded-xl flex flex-col h-fit mx-auto transition-all duration-300 w-full p-6 gap-5 md:max-w-xl md:p-8 md:gap-7 md:rounded-2xl lg:max-w-xl lg:p-10 lg:gap-8
    dark:bg-primary-900;
  }

  .header-genero {
    @apply flex flex-col w-full gap-2 mb-2 md:mb-4 relative items-center justify-center;
  }

  .btn-atras-container {
    @apply absolute left-0 top-1/2 -translate-y-1/2;
  }

  .titulo-genero {
    @apply w-full text-center font-bold text-primary-700  dark:text-primary-50 text-xl md:text-2xl lg:text-3xl;
  }

  .form-body {
    @apply flex flex-col gap-4 md:gap-6 lg:gap-8;
  }

  .seccion-tipo {
    @apply flex flex-col gap-2;
  }

  .label-tipo {
    @apply font-normal font-Otros text-black text-sm md:text-base lg:text-lg;
  }

  .footer-boton {
    @apply flex justify-center w-full mt-4 md:mt-6;
  }
  .mensaje-alerta {
    @apply fixed top-5 right-5 z-[100] p-4 rounded-xl shadow-2xl flex items-center gap-4 border-l-8 transition-all;
  }

  .mensaje-alerta-exito {
    @apply bg-green-100 border-green-600 text-green-800;
  }
  .mensaje-alerta-error {
    @apply bg-red-100 border-red-600 text-red-800;
  }

  .no-implementado-container > div {
    animation: Work 3s ease-in-out infinite;
  }
  .no-implementado-container > div:nth-child(1) {
    animation-delay: 0s;
  }
  .no-implementado-container > div:nth-child(2) {
    animation-delay: 0.5s;
  }
  .no-implementado-container > div:nth-child(3) {
    animation-delay: 1s;
  }

  @keyframes Work {
    0%,
    100% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(6deg) translateY(-8px);
    }
    25% {
      transform: rotate(-6deg) translateY(0);
    }
  }

  .navbar {
    @apply relative flex justify-between items-center p-3 bg-primary-50 flex-wrap border border-b-neutral-200 border-t-0 border-l-0 border-r-0 dark:bg-primary-900 dark:border-b-primary-1000;
  }

  .miperfil {
    @apply bg-white p-6 md:p-8 rounded-xl shadow-sm flex flex-col md:flex-row items-center gap-4
    dark:bg-primary-900 dark:text-primary-50;
  }
  @keyframes pulse-scale {
    0%,
    100% {
      transform: scale(1) rotate(180deg);
    }
    50% {
      transform: scale(1.5) rotate(180deg);
    }
  }

  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% center;
    }
    100% {
      background-position: 200% center;
    }
  }

  .text-shimmer {
    background: linear-gradient(90deg, #f9fbff 25%, #8993ff 50%, #f9fbff 75%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 4s infinite linear;
  }
}
