@layer components {
    .btn-primario {
        @apply bg-primary-700 text-white hover:bg-primary-600 active:bg-primary-500 disabled:bg-primary-400 focus:ring-primary-700;
    }

    .btn-secundario {
        @apply bg-neutral-200 text-black hover:bg-neutral-300 active:bg-neutral-400 disabled:bg-neutral-100 focus:ring-neutral-400;
    }

    .btn-fantasma {
        @apply bg-transparent text-primary-700 hover:bg-primary-100 active:bg-primary-300 disabled:text-primary-500 focus:ring-primary-700;
    }
}