@layer components {
  .button {
    @apply inline-flex items-center justify-center font-medium rounded-lg transition-colors duration-200 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 lg:p-4 lg:text-lg md:p-3 md:text-base sm:p-2 sm:text-sm;
  }

  .btn-primario {
    @apply bg-primary-700 text-white hover:bg-primary-600 active:bg-primary-500 disabled:bg-primary-400 focus:ring-primary-700;
  }

  .btn-secundario {
    @apply bg-neutral-200 text-black hover:bg-neutral-300 active:bg-neutral-400 disabled:bg-neutral-100 focus:ring-neutral-400;
  }

  .btn-fantasma {
    @apply bg-primary-100 text-black hover:bg-primary-300 active:bg-primary-500 active:text-white disabled:text-primary-500 focus:ring-primary-700;
  }

  .card-biblioteca {
    @apply flex flex-col bg-white rounded-xl shadow-elevation-1 gap-1.5 overflow-hidden max-w-62.5;
  }

  .card-landing.invertido {
    @apply md:flex-row-reverse;
  }

  .card-estadistica {
    @apply flex flex-col justify-between bg-primary-50 border border-primary-200 w-full p-1.25 md:p-2.5 rounded-sm lg:p-5;
  }

  .card-landing.invertido {
    @apply md:flex-row-reverse;
  }

  .card-estadistica-t {
    @apply flex flex-row items-center w-full bg-primary-50 border border-primary-700 text-primary-700 rounded-sm gap-1 p-1 md:gap-[6px] md:p-[6px] lg:gap-2 lg:p-2;
  }

  .card-landing {
    @apply flex flex-col items-center bg-primary-50 rounded-xl overflow-hidden border border-neutral-200 mx-auto w-full hover:shadow-elevation-3;
  }

  .card-estadistica-g {
    @apply bg-primary-500 rounded-sm flex items-center justify-between w-full gap-[14px] md:gap-30 lg:gap-47 p-2.5 md:p-3.75 lg:p-5;
  }

  .botones-navbar {
    @apply flex flex-col md:flex-row gap-2 w-full md:w-auto justify-center;
  }

  .table-admin {
    @apply flex flex-col gap-2 md:gap-6 overflow-auto p-2;
  }

  .rows-table {
    @apply items-center pt-4 pb-4 border border-neutral-50 flex flex-row;
  }

  .dialog {
    @apply flex flex-col gap-8 rounded-sm p-6 max-w-125 bg-primary-50 shadow-elevation-3 border border-neutral-100;
  }

  .close-icon {
    @apply flex w-full justify-end;
  }

  .tarjeta-estadisticas {
    @apply rounded-sm hover:shadow-elevation-3 max-w-50;
  }

  .tarjeta-total-estadisticas {
    @apply bg-primary-500 text-primary-50 flex flex-row gap-5 justify-center items-center md:gap-personalizado-30 lg:gap-personalizado-47 p-2;
  }

  .numero-estadisticas-total {
    @apply bg-primary-50 text-primary-700 h-full w-3 rounded-sm p-2 text-center flex justify-center items-center;
  }

  .tarjeta-individual-estadisticas {
    @apply bg-primary-50 text-primary-700 flex flex-col p-1 md:gap-2 border border-primary-700;
  }

  .numero-estadistica-individual {
    @apply w-auto bg-primary-300 p-2 rounded-sm text-primary-700 h-full text-center flex justify-center items-center;
  }

  .input-responsive {
    @apply h-6 p-2 text-xs md:h-9 md:p-3 md:text-sm lg:h-10 lg:text-base;
  }

  .checkbox-responsive {
    @apply size-3 md:size-4 lg:size-5;
  }

  .input-style-comun {
    @apply w-full flex items-center border-2 rounded-lg outline-none transition-all duration-200 placeholder:text-gray-400;
  }

  .input-disabled {
    @apply bg-gray-100 border-neutral-300 cursor-not-allowed !text-neutral-400;
  }

  .label-disabled {
    @apply text-neutral-400 cursor-not-allowed;
  }

  .input-border-primario {
    @apply border-primary-500 hover:border-primary-600 focus:border-primary-700;
  }

  .input-border-info {
    @apply border-info-500 hover:border-info-600 focus:border-info-700;
  }

  .input-error {
    @apply border-danger-500;
  }

  .span-error {
    @apply text-danger-500 text-xs font-Otros;
  }

  .checkbox-container {
    @apply flex items-center gap-2 my-2;
  }

  .checkbox-input {
    @apply rounded border-gray-300 text-primary-600 focus:ring-primary-500 transition-all;
  }

  .textarea-responsive {
    @apply min-h-24 p-2 text-xs md:min-h-32 md:p-3 md:text-sm lg:min-h-40 lg:text-base;
  }

  .textarea-style {
    @apply w-full flex flex-col gap-1 resize-none;
  }

  .select-responsive {

    @apply appearance-none h-8 p-1 text-xs md:h-10 md:p-2 md:text-sm lg:h-11 lg:p-2 lg:pl-4 lg:text-base;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5em 1.5em;
  }

  .select-color-text {
    @apply text-primary-600;
  }

  .card-registro {
    @apply flex flex-col items-center justify-center bg-primary-50 border-2 border-primary-500 shadow-elevation-1 w-full min-h-100 p-6 gap-6 rounded-lg md:w-150 md:min-h-125 md:p-8 md:gap-8 md:rounded-xl lg:w-200 lg:min-h-150 lg:p-12 lg:gap-10;
  }

  .grid-registro {
    @apply grid w-full grid-cols-1 gap-4 md:grid-cols-2 md:gap-6;
  }

  .card-login_passwd {
    @apply flex flex-col items-center justify-center bg-primary-50 border-2 border-primary-500 shadow-elevation-1 w-full h-auto p-6 gap-4 rounded-lg md:w-112.5 md:p-8 md:gap-6 md:rounded-xl lg:w-full lg:max-w-2xl lg:py-24 lg:px-20 lg:gap-10;
  }


  .flex-login-passwd {
    @apply flex flex-col w-full gap-4 md:gap-6;
  }

  .card-genero {
    @apply bg-white shadow-xl rounded-xl flex flex-col h-fit mx-auto transition-all duration-300 w-full p-6 gap-5 md:max-w-xl md:p-8 md:gap-7 md:rounded-2xl lg:max-w-xl lg:p-10 lg:gap-8;
  }

  .header-genero {
    @apply flex flex-col w-full gap-2 mb-2 md:mb-4 relative items-center justify-center;
  }

  .btn-atras-container {
    @apply absolute left-0 top-1/2 -translate-y-1/2;
  }

  .titulo-genero {
    @apply w-full text-center font-bold text-primary-700 text-xl md:text-2xl lg:text-3xl;
  }

  .form-body {
    @apply flex flex-col gap-4 md:gap-6 lg:gap-8;
  }

  .seccion-tipo {
    @apply flex flex-col gap-2;
  }

  .label-tipo {
    @apply font-normal font-Otros text-black text-sm md:text-base lg:text-lg;
  }

  .footer-boton {
    @apply flex justify-center w-full mt-4 md:mt-6;
  }
}