@layer components {
    .button {
        @apply inline-flex items-center justify-center font-medium rounded-lg transition-colors duration-200 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 lg:h-[40px] lg:min-w-[90px] lg:px-4 lg:text-lg md:h-[36px] md:min-w-[90px] md:px-3 md:text-base sm:h-[24px] sm:min-w-[90px] sm:px-2 sm:text-sm
    }

    .btn-primario {
        @apply bg-primary-700 text-white hover:bg-primary-600 active:bg-primary-500 disabled:bg-primary-400 focus:ring-primary-700;
    }

    .btn-secundario {
        @apply bg-neutral-200 text-black hover:bg-neutral-300 active:bg-neutral-400 disabled:bg-neutral-100 focus:ring-neutral-400;
    }

    .btn-fantasma {
        @apply bg-primary-100 text-black hover:bg-primary-300 active:bg-primary-500 active:text-white disabled:text-primary-500 focus:ring-primary-700;
    }

    .card-biblioteca {
        @apply flex flex-col bg-white rounded-xl shadow-elevation-1 gap-1.5 overflow-hidden max-w-[250px];
    }

    .card-landing.invertido {
        @apply md:flex-row-reverse;
    }

    .card-estadistica {
        @apply flex flex-col justify-between bg-primary-50 border border-primary-200 w-full p-[5px] rounded-[5.8px] md:p-[10px] md:rounded-[8px] lg:p-[20px] lg:rounded-[12px];
    }

    .card-landing.invertido {
        @apply md:flex-row-reverse;
    }

    .card-estadistica-t {
        @apply flex flex-row items-center w-full bg-white border border-primary-700 text-primary-700 rounded-[4px] gap-[4px] p-[4px] md:rounded-[6px] md:gap-[6px] md:p-[6px] lg:rounded-[12px] lg:gap-[8px] lg:p-[8px];
    }

    .card-landing {
        @apply flex flex-col items-center bg-white rounded-xl overflow-hidden shadow-elevation-1 mx-auto w-full max-w-[400px] md:max-w-[400px] lg:max-w-[800px];
    }

    .card-estadistica-g {
        @apply bg-primary-500 rounded-[12px] flex items-center justify-between w-full gap-[14px] md:gap-[30px] lg:gap-[47px] p-[10px] md:p-[15px] lg:p-[20px]
    }

}

.botones-navbar {
    @apply flex flex-col md:flex-row gap-2 w-full md:w-auto justify-center;
}

}