@layer components {

    .input-responsive {
        @apply h-6 p-2 text-xs md:h-9 md:p-3 md:text-sm lg:h-10 lg:text-base;
    }

    .checkbox-responsive {
        @apply size-3 md:size-4 lg:size-5;
    }

    .input-style-comun {
        @apply w-full flex items-center border-2 rounded-lg outline-none transition-all duration-200 placeholder:text-gray-400;
    }

    .input-disabled {
        @apply bg-gray-100 border-neutral-300 cursor-not-allowed! text-neutral-400;
    }

    .label-disabled {
        @apply text-neutral-400 cursor-not-allowed!;
    }

    .input-border-primario {
        @apply border-primary-500 hover:border-primary-600 focus:border-primary-700;
    }

    .input-border-info {
        @apply border-info-500 hover:border-info-600 focus:border-info-700;
    }

    .input-error {
        @apply border-danger-500;
    }

    .span-error {
        @apply text-danger-500 text-xs font-Otros;
    }

    .checkbox-container {
        @apply flex items-center gap-2 my-2;
    }

    .checkbox-input {
        @apply rounded border-gray-300 text-primary-600 focus:ring-primary-500 transition-all;
    }

    .textarea-responsive {
        @apply min-h-24 p-2 text-xs md:min-h-32 md:p-3 md:text-sm lg:min-h-40 lg:text-base;
    }

    .textarea-style {
        @apply w-full flex flex-col gap-1 resize-none;
    }

    .select-responsive {
        @apply h-8 p-1 text-xs md:h-10 md:p-2 md:text-sm lg:h-11 lg:p-2 lg:text-base;
    }

    .select-color-text {
        @apply text-primary-600
    }

    .card-registro {
        @apply flex flex-col items-center justify-center bg-primary-50 border-2 border-primary-500 shadow-elevation-1 w-full min-h-[400px] p-6 gap-6 rounded-lg md:w-[600px] md:min-h-[500px] md:p-8 md:gap-8 md:rounded-xl lg:w-[800px] lg:min-h-[600px] lg:p-12 lg:gap-10;
    }

    .grid-registro {
        @apply grid w-full grid-cols-1 gap-4 md:grid-cols-2 md:gap-6;
    }

    .flex-login-passwd{
        @apply flex flex-col w-lg gap-4
    }

}