@theme {
  --color-black: #000000;
  --color-gray-950: oklch(13% 0.028 261.692);
  --color-white: #ffffff;

  --color-primary-700: #7b8ff7;
  --color-primary-600: #91a3ff;
  --color-primary-500: #adc8ff;
  --color-primary-400: #d1e1ff;
  --color-primary-300: #e6f0ff;
  --color-primary-200: #f0f5ff;
  --color-primary-100: #f5f9ff;
  --color-primary-50: #f9fbff;

  --color-auxiliary-700: #ff5c2e;
  --color-auxiliary-600: #ff805c;
  --color-auxiliary-500: #ffa58c;
  --color-auxiliary-400: #ffc9b8;
  --color-auxiliary-300: #ffe2d9;
  --color-auxiliary-200: #fff1ed;
  --color-auxiliary-100: #fff8f5;
  --color-auxiliary-50: #fffbf9;

  --color-danger-700: #e32626;
  --color-danger-600: #f05151;
  --color-danger-500: #e87272;
  --color-danger-400: #f4a3a3;
  --color-danger-300: #fbd1d1;
  --color-danger-200: #fee2e2;
  --color-danger-100: #fff1f1;
  --color-danger-50: #fff8f8;

  --color-warning-700: #f2994a;
  --color-warning-600: #ffa726;
  --color-warning-500: #ffc107;
  --color-warning-400: #ffd54f;
  --color-warning-300: #ffe082;
  --color-warning-200: #fff3e0;
  --color-warning-100: #fff9c4;
  --color-warning-50: #fffde7;

  --color-success-700: #109353;
  --color-success-600: #27ae60;
  --color-success-500: #66bb6a;
  --color-success-400: #98d8a0;
  --color-success-300: #c1e7c7;
  --color-success-200: #e1f2e5;
  --color-success-100: #f1f8f3;
  --color-success-50: #f9fbf9;

  --color-info-700: #2f6ad2;
  --color-info-600: #4285f4;
  --color-info-500: #64b5f6;
  --color-info-400: #90caf9;
  --color-info-300: #bbdefb;
  --color-info-200: #e3f2fd;
  --color-info-100: #f1f8fe;
  --color-info-50: #f9fcff;

  --font-Titulos: "Poppins", sans-serif;
  --font-Otros: "Inter", sans-serif;

  --shadow-elevation-1:
    0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  --shadow-elevation-3:
    0 2px 20px 0 rgba(0, 0, 0, 0.04), 0 8px 32px 0 rgba(0, 0, 0, 0.08);

  --spacing-btn-h-lg: 40px;
  --spacing-btn-h-md: 36px;
  --spacing-btn-h-sm: 24px;
  --spacing-btn-w-lg: 90px;
  --spacing-btn-w-md: 86px;
  --spacing-btn-w-sm: 54px;
  --spacing-personalizado-6: 6px;
  --spacing-personalizado-14: 14px;
  --spacing-personalizado-30: 30px;
  --spacing-personalizado-47: 47px;
  --spacing-personalizado-50: 50px;
  --spacing-personalizado-70: 70px;
  --spacing-personalizado-150: 150px;
}

/* TAMAÑO TEXTOS */
/*Titulos (Medium) font-medium*/
/* --text-h1-lg: 7xl */
/* --text-h1-md: text-5xl; */
/* --text-h1-sm: text-4xl; */

/* --text-h2-lg: text-5xl; */
/* --text-h2-md: text-4xl;
--text-h2-sm: text-3xl; */

/* --text-h3-lg: text-4xl; */
/* --text-h3-md: text-3xl;
----text-h3-sm: text-2xl; */

/* --text-h4-lg: text-3xl;
--text-h4-md: text-2xl;
--text-h4-sm: text-xl; */

/* Spans (Bold)  font-bold*/
/* --text-span-lg: text-lg;
--text-span-md: text-base;
--text-span-sm: text-sm; */

/* font-normal */

/* --text-p-lg: text-xl;
--text-p-md: text-lg;
--text-p-sm: text-sm; */

/* --text-label-lg: text-xl;
--text-label-md: text-base;
--text-label-sm: text-sm; */

/* sombras explicacion */

/* X, Y: Son los dos primeros valores (offset-x, offset-y).
B (Blur): Es el tercer valor.
S (Spread): Es el cuarto valor (en tu imagen es 0).
Alpha: El porcentaje de opacidad se convierte a decimal en el rgba. */

/* bordes */

/* rounded-lg -> radio de 8px para botones y text-area*/
/* rounded-xl -> radio de 12 px para tarjetas, dropdown,  modales */

/* botones
grande: 
h-btn-h-lg
w-btn-w-lg
mediano:
h-btn-h-md
w-btn-w-lg
pequeños
h-btn-h-sm
w-btn-w-lg
*/

/* botones primarios
8993FF -> primary-700
ACCBFF -> primary-500
DBEDFF -> primary-400
EAF4FF -> primary-300
letras 
text-white */

/* botones secundarios -> 
EEEEEE -> neutral-200
E7E7E7 -> newutral-500
CACACA -> neutral-400
F5F5F5 -> neutral-100
letras ->
text-black
text-black
text-white
CACACA ->  neutral-400 */

/* botones fantasmas:
primary-100
primary-300
primary-500
primary-50

textos:
text-black
text-black
text-white
CACACA -> neutral-400 */

/* text area
gap-1 -> espaciado texto y contador letras
py-2; -> padding 8 -> div con el text area y el contador
px-3; -> padding div laterales */

/* footer:
p-3 -> div con el logo y textos
space-around -> en el div con bloques de textos y logo (entre ellos)
g-3 -< entre div con logo y loques de texto y los derechos */

/* dopdown: 
lg: h-11 
md: h-10 
sm: h-9;
p-1
gap: space-around
imagen: div: h-6, w-6; flecha -> p-1, size-6

colores:
primary-600
hover, focus: primary-700
disabled: neutral-300
 */

/* checkbox:
gap-2
lg :text-xl
md: text-base
sm: text-sm
 */

/* menu:
 gap-1
 imagen:
    h-10
    w-10 
    size-10
  */

/* upload photo:
rounded-sm

pequeño: h-24, w-24, size-24 (960x)
grande: w-33, h-33, size-33
si no sale: --spacing-upload-w-lg: 132px;

+: size-6
gap-1 con el texto upload (text-base)
justify-center
items-center
gap-1 con el div de error (hidden/none al principio)
*/

/* inputs
grande:
h-10
p-3
gap-1 con el div error

mediano:
gap-1 con el div error
h-9
p-3
pequeño:
gap-1 con el div error
h-6
p-2
*/

/* filter:
igual que el dropdown menos colores:
colores:
neutral-600
 */

/* tabla:
 celdas: py-3, px-4 
 tabla: filas: gap-2 */

/* valoracion
gap-3
estrellas: gap-1,p-2*/

/* navbar:
p-3
div: logo, botones menos salir: gap-1 
div: boton-salir
gap-2 / gap-3*/

/* dialog: eliminar: 
roundes-sm
p-6
div: title, texto: gap-4
gap-8 (div anteiror y botones)
separacion div botones: gap-2

lg, md, sm: iguales, cambia el ancho (segun pantalla) y el tamaño letra
*/

/* tarjta biblioteca:
grande:
py-3
px-3

div: imagen, texto
gap-5

div text:
    div tags: gap-3
gap-5

div botones modi/el: gap-5


mediana:
py-3
px-3

div: imagen, texto
gap-3

div text:
    div tags: gap-3
gap-5

div botones modi/el: gap-4


pequeña:
py-1
px-1

div: imagen, texto
gap-3

div text:
    div tags: gap-2

gap-5
div botones modi/el: gap-4


 */

/* tarjeta landing:
grande:
div con el titulo y p: py-3
px-5 (div titulo y p y div con foto)
div con el p: p-2
gap-12 (titulo y parrafo)

mediana:
div con el titulo y p: py-3
px-3 (div titulo y p y div con foto)
div con el p:p-2
gap-8 (titulo y parrafo)

pequeña:
div grande: py-3
gap-3 (div titulo y p y div con foto)
div con el p:
p-2
gap-6 (titulo y parrafo)
*/

/* tarjeta extadisticas: 
grande:
p-5
div con el titulo y p: py-3
gap-10
mediano:
p-3
gap-5
pequeño:
p-1
gap-3
*/

/* tarjetas estadisticas top
grande:
div numero: h-3, w-3
div general: gap-2

mediano
div numero: h-3, w-3
div general: gap-peronalzazo-6

pequeño
div numero: h-peronalzazo-6, w-peronalzazo-6
div general: gap-1
 */

/* tarjeta estadisticas globales: 
grande:
gap-personalizado-47
div numero: 
h-50 
w-personalizado-70

mediana:
gap-[30px]
div numero: 
h-personalizado-150
w-personalizado-50

pequeña:
gap-5
div numero: 
h-personalizado-14
w-3
*/
