@theme {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary-1100: #261f60;
  --color-primary-1050: #302976;
  --color-primary-1000: #3b348d;
  --color-primary-975: #403996;
  --color-primary-950: #463f9f;
  --color-primary-900: #524bb1;
  --color-primary-850: #645fd5;
  --color-primary-800: #6d6ee5;
  --color-primary-750: #7b81f2;
  --color-primary-700: #8993ff;
  --color-primary-600: #93acff;
  --color-primary-500: #accbff;
  --color-primary-400: #dbedff;
  --color-primary-300: #eaf4ff;
  --color-primary-200: #f0f7ff;
  --color-primary-100: #f0f7ff;
  --color-primary-50: #f9fcff;

  --color-auxiliary-700: #ff5c2e;
  --color-auxiliary-600: #ff805c;
  --color-auxiliary-500: #ffa58c;
  --color-auxiliary-400: #ffc9b8;
  --color-auxiliary-300: #ffe2d9;
  --color-auxiliary-200: #fff1ed;
  --color-auxiliary-100: #fff8f5;
  --color-auxiliary-50: #fffbf9;

  --color-danger-700: #e32626;
  --color-danger-600: #f05151;
  --color-danger-500: #e87272;
  --color-danger-400: #f4a3a3;
  --color-danger-300: #fbd1d1;
  --color-danger-200: #fee2e2;
  --color-danger-100: #fff1f1;
  --color-danger-50: #fff8f8;

  --color-warning-700: #f2994a;
  --color-warning-600: #ffa726;
  --color-warning-500: #ffc107;
  --color-warning-400: #ffd54f;
  --color-warning-300: #ffe082;
  --color-warning-200: #fff3e0;
  --color-warning-100: #fff9c4;
  --color-warning-50: #fffde7;

  --color-success-700: #109353;
  --color-success-600: #27ae60;
  --color-success-500: #66bb6a;
  --color-success-400: #98d8a0;
  --color-success-300: #c1e7c7;
  --color-success-200: #e1f2e5;
  --color-success-100: #f1f8f3;
  --color-success-50: #f9fbf9;

  --color-info-700: #2f6ad2;
  --color-info-600: #4285f4;
  --color-info-500: #64b5f6;
  --color-info-400: #90caf9;
  --color-info-300: #bbdefb;
  --color-info-200: #e3f2fd;
  --color-info-100: #f1f8fe;
  --color-info-50: #f9fcff;

  --font-Titulos: "Poppins", sans-serif;
  --font-Otros: "Inter", sans-serif;

  --shadow-elevation-1:
    0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  --shadow-elevation-3:
    0 2px 20px 0 rgba(0, 0, 0, 0.04), 0 8px 32px 0 rgba(0, 0, 0, 0.08);

  --spacing-btn-h-lg: 40px;
  --spacing-btn-h-md: 36px;
  --spacing-btn-h-sm: 24px;
  --spacing-btn-w-lg: 90px;
  --spacing-btn-w-md: 86px;
  --spacing-btn-w-sm: 54px;
  --spacing-personalizado-6: 6px;
  --spacing-personalizado-14: 14px;
  --spacing-personalizado-30: 30px;
  --spacing-personalizado-47: 47px;
  --spacing-personalizado-50: 50px;
  --spacing-personalizado-70: 70px;
  --spacing-personalizado-150: 150px;
}
